@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f0f;
  color: white;
  font-family: sans-serif;

  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size: 40px 40px;
}

/* PREMIUM EFFECTS */
html {
  scroll-behavior: smooth;
}
.glow-text {
  background: linear-gradient(90deg, #8b7d7b, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow-card {
  box-shadow: 0 0 20px rgba(139, 125, 123, 0.2);
}

.glow-card:hover {
  box-shadow: 0 0 40px rgba(139, 125, 123, 0.4);
}