@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE BACKGROUND */
body {
  background-color: #020617;
  position: relative;
}

/* GRID LAYER */
/* GRID LAYER */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size: 40px 40px;

  animation: gridMove 60s linear infinite;
}

/* 🔥 SUPER SLOW DRIFT */
@keyframes gridMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-40px, -40px);
  }
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  background: radial-gradient(circle at center, transparent 60%, #020617 90%);
}

/* PREMIUM EFFECTS */
html {
  scroll-behavior: smooth;
  ease: [0.25, 0.8, 0.25, 1]
}
.glow-text {
  background: linear-gradient(90deg, #8b7d7b, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow-card {
  box-shadow: 0 0 20px rgba(139, 125, 123, 0.2);
}

.glow-card:hover {
  box-shadow: 0 0 40px rgba(139, 125, 123, 0.4);
}
